<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="../styles/index.css">
        <link rel="favicon" type="image/png" href="dices.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dicee game</title>
</head>
<body>
    <!-- Top Navigation Menu -->
<div href="javascript:void(0);"  class="topnav" onclick="myFunction()">
    <a class="active">How many dice rolls?</a>
    <!-- Navigation links (hidden by default) -->
    <div id = "myLinks">
        <div>
            <input type="radio" id="oneRoll" name="numberOfRolls" value=1 checked>
            <label for="oneRoll">One Roll</label>
        </div>
        <div>
            <input type="radio" id="threeRolls" name="numberOfRolls" value=3>
            <label for="threeRolls">Three Rolls</label>
        </div>
        <div>
            <input type="radio" id="fiveRolls" name="numberOfRolls" value=5>
            <label for="fiveRolls">Five Rolls</label>
        </div>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>
    <h1>Dicee</h1>
    <h2>Shall we?</h2>
    <div class="wrapper">
        <span class="players">Player 1</span>
        <span class="players">Player 2</span>
        <img id="dice1img" src="../images/dice1.png" alt="Dice 1">
        <img id="dice2img" src="../images/dice1.png" alt="Dice 2">
    </div>


<div class="space-div"></div>

    


<div class="first-lower-wrapper">
    <button class="button" name="buttonRoll">New game</button>
    <div id="chips-div">
        <span class="chips">Chips: </span>
        <span  class="chips">1000</span>
    </div>
</div>
        <div class="lower-wrapper">
        <hr>
        <label for="bet-amount">Bet</label> 
        <input class="button1" id="bet-amount" name="bet-amount" type="number" value="0">
        <label for=""> on </label>
        <select class="button1" id="select-player" name="players">
            <option value="Player 1">Player 1</option>
            <option value="Player 2">Player 2</option>
        </select>
        </div>
        
        <script src="../controllers/indexCtrl.js" type="module"></script>
        <script type="text/javascript">
        function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
        </script>
        <br>
</body>
<footer>In order to set number of rolls in a single game - click on the upper bar! Copyright by Jarosław Jatczak 2021</footer>
</html>